 body {
    background-color: cornflowerblue;

} 

.pyramid{
	position: static;
}

.row {
	text-align: center;
	margin: 0 auto;
	padding: 1px;
  }
  
 .spacer {
	 height: 50px;
	 position: absolute;
	 padding: 20px;
 }
  
 .bigPyra{
	 position: sticky;
 } 


  .triangle {
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
  }